* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

:root {
    --color-text-orange: #EAB308;
    --color-text-fadedblue: #6B7280;
    --color-bg-greyblue: #191D28;
    --color-bg-darkblue: #020617;
    --color-bg-lightblue: #111827;
    --color-anchor-inactive: #9CA3AF;
    --color-anchor-active: #fff;
    --color-textbox-greyblue: #1F2937;
}

body {
    background-color: var(--color-bg-darkblue);
}

header {
    height: 62px;
    padding: 16px 168px;
    background-color: var(--color-bg-darkblue);
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    
}

.logo-span {
    color: var(--color-text-orange);
}

#nav-bar {
    width: 620px;
}

#nav-list {
    display: flex;
    justify-content: space-between;
}

.list-items {
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--color-anchor-inactive);
}

a:hover {
    color: var(--color-anchor-active);
}

.active {
    color: var(--color-anchor-active);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    color: white;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
}

h1 > span, h2 > span, p > span {
    color: var(--color-text-orange);
}

p {
    line-height: 27px;
    font-size: 16px;
}

.home {
    background-color: var(--color-bg-lightblue);
    height: 629px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 1092px;
}

.home > div > div {
    width: 466px;
    height: 271px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.home > div > div > p {
    color: var(--color-text-orange);
    font-size: 16px;
}

.home h1 {
    color: white;
    font-size: 42px;
    font-weight: 700;
}

.home > div > div > div > p {
    color: var(--color-text-fadedblue);
    font-size: 16px;
    font-weight: 400;
}

.home button {
    padding: 8px 20px;
    width: 123px;
    border-radius: 4px;
    background-color: var(--color-text-orange);
}

.about {
    height: 704px;
}

.about > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 1108px;
}

.about > div > div {
    width: 509px;
    height: 348px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about h2 {
    color: white;
    font-size: 42px;
    font-weight: 700;
}

.about h2 > span {
    color: var(--color-text-orange);
}

.about p {
    color: var(--color-text-fadedblue);
    font-size: 16px;
    font-weight: 400;
}

.about button {
    width: 124px;
    height: 59px;
    border: 16px 20px;
    border-radius: 4px;
    margin-top: 40px;
    background-color: var(--color-text-orange);
}

.about_p_top {
    margin-bottom: 18px;
}

.portfolio {
    height: 1006px;
}

.portfolio > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1110px;
}

.portfolio_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    width: 461px;
    height: 169px;
    margin-bottom: 80px;
}

.portfolio_text h2 {
    color: white;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
}

.portfolio_text h2 > span {
    color: var(--color-text-orange);
}

.portfolio_text p {
    color: var(--color-text-fadedblue);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.portfolio_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 565px;
}

.portfolio_images img {
    border-radius: 12px
}

.portfolio_images > img {
    height: 100%;
    width: 540px;
}

.portfolio_images > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 256px;
}

.portfolio_images > div > img {
    width: 100%;
    height: 268px;
}

.services {
    height: 759px;
    background-color: var(--color-bg-lightblue);
}

.services > div {
    width: 1110px;
    height: 567px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.services_text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 461px;
    height: 169px;
}

.services_text p {
    color: var(--color-text-fadedblue);
}

.services_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 342px;
}

.services_box > div {
    width: 350px;
    height: 342px;
    background-color: var(--color-bg-darkblue);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 32px;
}

.services_box > div > div {
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services_box p {
    color: var(--color-text-fadedblue);
}

.services_box h3 {
    color: white;
    font-size: 26px;
    font-weight: 700;
    line-height: 41px;
}

.services_box img {
    width: 40px;
}

.experience {
    height: 714px;
    background-color: var(--color-bg-greyblue);
}

.experience > div {
    width: 1126px;
    height: 544px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience_text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 730px;
    height: 142px;
}

.experience_text p {
    color: var(--color-anchor-inactive);
}

.experience_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 322px;
}

.experience_box p {
    color: white;
}

.experience_box > div {
    width: 350px;
    height: 100%;
    background-color: var(--color-bg-darkblue);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 32px;
}

.experience_box > div > p {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.experience_box > div > div {
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience_box > div > div > p{
    color: var(--color-text-fadedblue);
}

.experience_box > div > div > div {
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience_box > div > div > div > p:nth-child(1) {
    font-size: 26px;
    color: var(--color-text-orange);
    font-weight: 700;
}

.contact_me {
    height: 742px;
}

.contact_me > div {
    width: 1110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact_me > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 685px;
    height: 142px;
}

.contact_me > div > div:nth-child(1) > p {
    color: var(--color-anchor-inactive);
    text-align: center;
}
        
.contact_me > div > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 352px;
    width: 100%;
}

.contact_me > div > div:nth-child(2) p {
    color: white;
    line-height: 41px;
}

.contact_me > div > div:nth-child(2) > div {
    width: 347px;
    height: 253px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_me form {
    width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    background-color: var(--color-textbox-greyblue);
    color: white;
}

input[id="name"] {
    width: 350px;
    height: 63px;
    padding-left: 10px;
}

input[id="message"] {
    width: 540px;
    height: 166px;
    padding-left: 10px;
}

.contact_me button {
    padding: 16px 20px;
    width: 123px;
    color: var(--color-bg-darkblue);
    background-color: var(--color-text-orange);
}

footer {
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div {
    width: 685px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_text {
    height: 128px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin-bottom: 56px;
}

.footer_text p {
    color: var(--color-anchor-inactive);
}

.footer_icons {
    display: flex;
    justify-content: space-between;
    width: 224px;
}

.footer_icons img {
    height: 24px;
}